/**
* Title: Protogator
* Author/s: Prototyp
* CSS build platform: Yarn
* CSS development build command: yarn
* CSS production build command: yarn build
* CSS processor: PostCSS
* CSS processor usage: autoprefixing, nesting, variables, minification, pxtorem, color functions
* CSS name convention: BEM
* Global indentation: 4 spaces
* Global units: px
* Global prefix: none
* Browser support: IE10+, last 3 versions of modern browsers
* Additional notes:
*/

/**
* Import: vars
* Description: variables
*/
@import 'vars.globals.css';
@import 'vars.typography.css';
@import 'vars.responsive.css';
@import 'vars.colors.css';
/*edo*/
/**
* Import: tools
* Description: tools like typomatic and other mixins / libraries
*/
@import 'tools.typomatic.css';

/**
* Import: generic
* Description: normalize or reset CSS, box sizing
*/
@import 'generic.boxsizing.css';

/**
* Import: base
* Description: base structural stylings for setting the body, typography
* and other base styles (no classes should be added here)
*/
@import 'base.globals.css';
@import 'base.typography.css';

/**
* Import: component
* Description: cross project reusable
*/
@import 'component.wrapper.css';
@import 'component.btn.css';
@import 'component.btn-group.css';
@import 'component.hamburger.css';
@import 'component.input.css';
@import 'component.field.css';
@import 'component.toggle.css';
@import 'component.pagination.css';
@import 'component.counter.css';
@import 'component.range.css';
@import 'component.picker.css';
@import 'component.split-view.css';
@import 'component.filter.css';
@import 'component.d-item.css';
@import 'component.ds.css';
@import 'component.newsletter.css';
@import 'component.datepicker.css';
@import 'component.emptystate.css';

/**
* Import: block
* Description: specific website/app blocks
*/
@import 'block.nav.css';
@import 'block.header.css';
@import 'block.search.css';
@import 'block.footer.css';

/**
* Import: views
* Description: specific website/app views (example: 404 view, login view)
*/

/**
* Import: utils
* Description: reusable utilities such as floats, spacers etc.
*/
@import 'utils.spacers.css';
@import 'utils.opacity.css';
@import 'utils.type.css';

/**
* Import: plugins
* Description: 3rd party code, external plugin CSS etc
* Note: when importing code from a 3rd party it should be stripped off
* any vendor prefixes since autoprefixer will use project specific vendor prefixes
*/
@import 'plugins.fontface.css';

.vue-foldable-container {
  transition: max-height 0.8s;
}

.vue-foldable-mask {
  transition: opacity 3s;
}
/**
* Import: shame
* Description: CSS shame file
* Note: to be avoided, exists only if REALLY necessary or legacy code
*/

/* @import shame.css"; */

/*ng-scope mora biti 100% da npr. na booking.test:8000/rooms ne bude bijelo na dnu page-a*/

body,
html {
  height: 100% !important;
  background-color: #eff3f5 !important;
}

header {
  display: none;
}
.flash-container {
  margin-top: 0px !important;
}
main {
  margin-top: 0px !important;
}

.subnav {
  background-color: rgba(16, 48, 76, 0.8);
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.become-a-host__font {
  color: white !important;
  font-size: 32px;
}
.subnav-item {
  position: relative;
  display: block;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  font-family: 'DM Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  padding: 20px 12px !important;
}

.subnav > .container {
  display: flex;
  justify-content: center;
}

.host-dashboard {
  background-color: #eff3f5 !important;
}

.host-dashboard .row {
  margin-top: 3rem;
  background-color: #ffffff;
  border-radius: 24px;
}

.notify-wrap {
  background-color: #eff3f5 !important;
}

.carousel-item.active {
  color: rgba(0, 0, 0, 0.6);
  font-family: DM-Sans, sans-serif;
}

.dashboard-left {
  padding: 20px 58px !important;
}

.dashboard-right {
  padding: 48px 58px !important;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  background-color: #ffffff !important;
}

.text-center > h2 {
  color: rgba(0, 0, 0, 0.8) !important;
  padding-bottom: 10px;
  padding-right: 17px;
}

.text-center p {
  color: rgba(0, 0, 0, 0.8) !important;
}

.text-left {
  color: rgba(0, 0, 0, 0.6) !important;
}
.text-right {
  color: rgba(0, 0, 0, 0.6) !important;
}

.table-responsive {
  padding-bottom: 1rem;
  padding-right: 1.5rem !important;
}

button.btn {
  color: #ffffff !important;
  background: #009fda !important;
  padding: 20px 20px !important;
  line-height: 0 !important;
}

#host-dashboard-container a.btn {
  color: #ffffff !important;
  background: #009fda !important;
  line-height: 0 !important;
  padding: 20px 20px !important;
}

.invite-wrap > a.btn {
  color: #ffffff !important;
  background: #009fda !important;
  line-height: 0 !important;
  padding: 20px 20px !important;
}

.list-btn-wrap a.btn {
  color: #ffffff !important;
  background: #009fda !important;
  line-height: 0 !important;
  padding: 20px 20px !important;
}

#print_area a.btn {
  color: #ffffff !important;
  background: #009fda !important;
  line-height: 0 !important;
  padding: 20px 20px !important;
}

.edit-profile a.btn {
  color: #ffffff !important;
  background: #009fda !important;
  line-height: 0 !important;
  padding: 20px 20px !important;
}

.notify-list {
  padding: 6px 48px 48px 48px !important;
  border: none;
  border-bottom-left-radius: 24px !important;
  border-bottom-right-radius: 24px !important;
}

.notify-wrap > .container {
  padding: 0px !important;
}

.invite-wrap {
  border: none;
  border-radius: 24px;
  margin-bottom: 3rem;
}

a.theme-link {
  color: rgb(0, 159, 218);
}

a.theme-link:hover {
  color: rgba(16, 48, 76, 0.8);
}

.privacy-hover:hover {
  color: rgb(44, 167, 213) !important;
}

.invite-wrap > h3 {
  padding-bottom: 1rem;
}

.invite-wrap > p {
  padding-bottom: 2rem;
}

.tab-item {
  font-size: 12px !important;
}

ul.tabs {
  background-color: #ffffff;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  padding: 25px 0 0 20px !important;
}

.card-header {
  border-top-left-radius: 24px !important;
  border-top-right-radius: 24px !important;
  background-color: #fefefe;
  border: none !important;
}

.card {
  border-top-left-radius: 24px !important;
  border-top-right-radius: 24px !important;

  padding: 20px 0 20px 20px !important;
  background-color: #fefefe;
  border: none !important;
}

.card-w-r {
  padding-right: 20px !important;
}

.inbox-list {
  background-color: #ffffff !important;
  border: none !important;
  border-bottom-left-radius: 24px !important;
  border-bottom-right-radius: 24px !important;
}

.readed {
  background-color: #ffffff !important;
  border-bottom-left-radius: 24px !important;
  border-bottom-right-radius: 24px !important;
  /* border-top: 1px solid #009fda; */
}

select {
  border-radius: 8px !important;
}

div.select {
  border-radius: 8px !important;
}

.theme-color {
  color: #009fda !important;
}

.disputes-content {
  padding-bottom: 50px !important;
}

.threads > .card {
  border-bottom-left-radius: 24px !important;
  border-bottom-right-radius: 24px !important;
}

.payout-content {
  padding-bottom: 50px !important;
}

.card-header > h3 {
  font-size: 25px !important;
}

.card-body > p {
  padding-bottom: 1rem !important;
}

.img-fluid {
  border-radius: 8px !important;
}

.listing h4 {
  font-size: 21px !important;
}

.listing-wrap > .card {
  margin-bottom: 3rem !important;
}

#payout_setup > .card {
  border-bottom-left-radius: 24px !important;
  border-bottom-right-radius: 24px !important;
}

#transaction-history {
  margin-bottom: 3rem !important;
  border-bottom-left-radius: 24px !important;
  border-bottom-right-radius: 24px !important;
}

h4.status-text {
  padding-top: 1rem !important;
  font-size: 20px !important;
  color: rgba(0, 0, 0, 0.8) !important;
}

#change_your_password {
  margin-bottom: 3rem !important;
  padding-left: 3rem !important;
  padding-right: 1em !important;
  width: 95% !important;
  border-bottom-left-radius: 24px !important;
  border-bottom-right-radius: 24px !important;
}

#change_your_password > .card-footer {
  background-color: #ffffff !important;
  display: flex;
  margin-right: 10px !important;
  justify-content: center !important;
  border: none !important;
}

.input-block {
  border-radius: 8px !important;
}

#site-content .card {
  border-bottom-left-radius: 24px !important;
  border-bottom-right-radius: 24px !important;
}

#inbox > .card {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

#print_area {
  margin-bottom: 2.5rem !important;
}

.location > .text-capitalize {
  color: #009fda !important;
}

.label- {
  /* color: rgba(46, 204, 113, 1) !important; */
}

#update_form > .card {
  padding-right: 2rem !important;
}

#dashboard-content {
  background-color: #ffffff;
  border-radius: 24px !important;
}

#update_form > .my-4 {
  padding-top: 0px !important;
}

#dashboard-content button.btn {
  margin-left: 80% !important;
  margin-bottom: 30px;
  margin-top: -20px !important;
}

#add_payout_method_section a.btn {
  color: #ffffff !important;
  background: #009fda !important;
  line-height: 0 !important;
  padding: 20px 20px !important;
}

.become-a-host__btn {
  color: #ffffff !important;
  background: #009fda !important;
  line-height: 0 !important;
  padding: 20px 20px !important;
  border-radius: 24px !important;
  font-size: 16px !important;
}
